<ion-content>
  <ion-refresher slot ="fixed" disabled="false" (ionRefresh)="refreshGallery($event)" pullFactor="0.5" pullMin="100" pullMax="200">
    <ion-refresher-content
            pullingIcon="arrow-down"
            pullingText="Trascina per ricaricare"
            refreshingSpinner="bubbles"
            refreshingText="Ricarico.....">
    </ion-refresher-content>
  </ion-refresher>

  <ion-grid>
    <ion-row>
      <ion-col size="6" *ngFor="let item of items">
        <!-- <div class="image-container" [style.background-image]="'url(assets/img/' + image + '.jpg)'"></div> -->
        <div *ngIf="item.type === 'img'" [routerLink]="['/open-multimedia/', item.id, item.type]" routerDirection="forward">
          <img class="gallery-element" src="{{env.BASEURL}}{{env.IMGFOLDER}}{{item.name}}">
        </div>
        <div class="yt-cntainer" *ngIf="item.type === 'video'" [routerLink]="['/open-multimedia/', item.id, item.type]" routerDirection="forward">
          <iframe class="gallery-element" [src]="sanitizeUrl(item.name)" width="100%" frameborder="0"></iframe>
          <div class="yt-mask"></div>
        </div>
        <div class="description">{{item.date}} - {{item.description}}</div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadDataGallery($event)">
    <ion-infinite-scroll-content
            loadingSpinner="bubbles"
            loadingText="Caricamento dati...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>