<!--
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Gallery</ion-title>
  </ion-toolbar>
</ion-header>
-->

<ion-content>
  <ion-refresher slot ="fixed" disabled="false" (ionRefresh)="loadDataGallery($event)" pullFactor="0.5" pullMin="100" pullMax="200">
    <ion-refresher-content
            pullingIcon="arrow-down"
            pullingText="Trascina per ricaricare"
            refreshingSpinner="bubbles"
            refreshingText="Ricarico.....">
    </ion-refresher-content>
  </ion-refresher>
  <ion-grid>
    <ion-row>
      <ion-col size="6" *ngFor="let item of items">
        <!-- <div class="image-container" [style.background-image]="'url(assets/img/' + image + '.jpg)'"></div> -->
        <div *ngIf="item.type === 'img'" [routerLink]="['/open-multimedia/', item.id, item.type]" routerDirection="forward">
          <img class="gallery-element" src="{{env.BASEURL}}{{env.IMGFOLDER}}{{item.name}}">
        </div>
        <div class="yt-cntainer" *ngIf="item.type === 'video'" [routerLink]="['/open-multimedia/', item.id, item.type]" routerDirection="forward">
          <iframe class="gallery-element" [src]="sanitizeUrl(item.name)" width="100%" frameborder="0"></iframe>
          <div class="yt-mask"></div>
        </div>
        <div class="description">{{item.date}} - {{item.description}}</div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadDataGallery($event)">
    <ion-infinite-scroll-content
            loadingSpinner="bubbles"
            loadingText="Caricamento dati...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>

<!--
<ion-content>
  <ion-slides class="slide-padding" pager="false" centeredSlides="true" effect="cube" paginationType="fraction" slidesPerView="3" spaceBetween="5" zoom="true" speed="50" ionSlideDoubleTap="mettereLike()">
    <ion-slide *ngFor="let item of items">
      <div>
        <div style="width: 100%" *ngIf="item.type === 'img'">
          <img src="{{env.BASEURL}}{{env.IMGFOLDER}}{{item.name}}">
        </div>
        <div style="width: 100%" *ngIf="item.type === 'video'">
          <iframe [src]="sanitizeUrl(item.name)" allowscriptaccess="always" width="100%" frameborder="0" allowfullscreen></iframe>
        </div>
        <div class="comment_container" *ngFor="let comment of item.comments">
          <ion-item-divider *virtualHeader="let header">
            {{ header }}
          </ion-item-divider>
          <div class="comment_author">{{comment.author.user_kinship | titlecase}} {{comment.author.user_first | titlecase}}</div>
          <div class="comment_input_text">{{comment.text}}</div>
          <div class="comment-footer">
            <div class="like"><ion-icon name="md-heart"></ion-icon></div>
            <div class="time">{{comment.time}}</div>
          </div>
        </div>
      </div>
    </ion-slide>
  </ion-slides>
</ion-content>
-->
