<ion-fab horizontal="start" vertical="bottom" slot="fixed">
  <ion-fab-button color="tertiary">
    <ion-icon name="ellipsis-vertical" color="light"></ion-icon>
  </ion-fab-button>
  <ion-fab-list side="top" *ngFor="let p of appPages">
    <ion-fab-button color="light" *ngIf="p.type === 'config'" [routerDirection]="'root'" [routerLink]="[p.url]">
      <ion-icon [name]="p.icon" color="tertiary"></ion-icon>
    </ion-fab-button>
  </ion-fab-list>
</ion-fab>
<!--
<ion-fab horizontal="end" vertical="bottom" slot="fixed">
  <ion-fab-button color="light">
    <img src="../../../assets/icon/favicon.png">
  </ion-fab-button>
  <ion-fab-list side="start" *ngFor="let p of appPages">
    <ion-fab-button color="light" *ngIf="p.type === 'regular'" [routerDirection]="'root'" [routerLink]="[p.url]">
      <ion-icon [name]="p.icon" color="tertiary"></ion-icon>
    </ion-fab-button>
  </ion-fab-list>
</ion-fab>
-->