<ion-content>
  <div class="logo">
    <img src="../../../assets/icon/favicon.png">
  </div>
  <ion-grid class="ion-text-center">
    <ion-row class="ion-justify-content-center">
      <ion-col class="ion-align-self-start" size="12" size-sm="7" size-md="5" size-lg="4" size-xl="3">
        <form class="ion-padding-horizontal" #form="ngForm" (ngSubmit)="onLogin(form)">
          <ion-item class="ion-justify-content-center ion-text-center" color="transparent" lines="none">
            <ion-input
              class="login-form ion-margin-bottom"
              type="text"
              [(ngModel)]="username"
              name="username"
              placeholder="Nome e congome"
              clearInput="true"
              autofocus="true"
              color="tertiary"
              style="border: solid 1px #BAA0F8; border-radius: 5px;"
              (click)=usernamePopover($event)
              required>
            </ion-input>
          </ion-item>
          <ion-item class="ion-justify-content-center ion-text-center" color="transparent" lines="none">
            <ion-input
              [type]="showPassword ? 'text' : 'password'"
              [(ngModel)]="password"
              name="password"
              placeholder="Password"
              color="tertiary"
              style="border: solid 1px #BAA0F8; border-radius: 5px;"
              required>
            </ion-input>
            <ion-icon slot="end" [name]="passwordToggleIcon" (click)="togglePassword()"></ion-icon>
          </ion-item>

          <div class="label-container">
            <ion-label><small style="color: #f400a1;" (click)=getpwdPopover($event)>Recupera password</small></ion-label>
          </div>
          <ion-button
            mode="ios"
            expand="block"
            size="default"
            fill="solid"
            color="tertiary"
            type="submit"
            shape="round"
            [disabled]="!form.valid">ACCEDI</ion-button>

          <ion-item class="ion-text-right" color="transparent" lines="none">
            <ion-label style="color: #f400a1;"><small>Ricordami</small></ion-label>
            <ion-checkbox
              style="margin-inline-start: 10px;"
              mode="ios"
              slot="end"
              color="tertiary"
              name="rememberMe"
              [(ngModel)]="rememberMe"></ion-checkbox>
          </ion-item>

          <!--
          <ion-button (click)="showFingerprintAuthDlg()">show fingerprint auth dialog  </ion-button>
          -->
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>