<ion-list>
  <ion-item class="ion-no-margin" lines="none">
    <ion-label class="ion-text-wrap" color="tertiary">
      Inserimenti consentiti:
      <br>
      <ion-note color="success"><small>&nbsp;&nbsp;&nbsp;Nome e cognome</small></ion-note>
      <br>
      <ion-note color="success"><small>&nbsp;&nbsp;&nbsp;Numero di telefono</small></ion-note>
      <br>
      <ion-note color="success"><small>&nbsp;&nbsp;&nbsp;E-mail</small></ion-note>
    </ion-label>
  </ion-item>
  <ion-item lines="none">
    <ion-label class="ion-text-wrap" style="color: #f400a1;">
      Se non sei registrato oppure è la prima volta che accedi puoi richiedere la registrazione inserendo solamente nome e cognome, lasciando vuoto il campo password, e poi "Accedi".
    </ion-label>
  </ion-item>
</ion-list>